

.button-1{
    height: 40px;
    width: 200px;    
    color: turquoise;
    border-color: turquoise;
    background-color: white;
    margin-bottom:10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;

    
}
.button-2{
    background-color: turquoise;
    border-color: turquoise;
    border-radius:50px;
    color: white;
    height: 50px;
    width: 50px;
    margin: 50px;
    
}
    
.button-3{
    height: 40px;
    width:200px;
    background-color: blue;
    color:white;
    box-shadow: 10px 5px 5px black;

}
